.vagrant
Berksfile.lock
berks-cookbooks/
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
bin/*
.bundle/*
Gemfile.lock
.kitchen.yml
.kitchen/
.kitchen.local.yml
.kitchen*
coverage/
.env.sh
Vagrantfile
.rubocop.yml

# sublime text
*.sublime-project
*.sublime-workspace

*.xml
